/*
@-ms-viewport {
    width: device-width;
    zoom: 1.0;
}
*/


/*
*:focus {
    border: 1px solid red;
    outline: none;
}

*:active {
    border: 1px solid green;
    outline: none;
}

*:hover {
    border: 1px solid blue;
}
*/

html,
body {
    /* width: 100%; */
    /* position: absolute; */
}

.base-font {
    font-family: 'Tahoma';
    font-size: 10px;
}


/****************************************************************/


/*
.visible-min-width-640px {
    display: none;
}

.visible-min-device-width-640px {
    display: none;
}

.visible-min-device-width-640pxWithLandscape {
    display: none;
}

.visible-min-width-640pxWithLandscape {
    display: none;
}
*/

.default-hidden {
    display: none;
}

.main-container {
    background-color: gray;
}


/****************************************************************/

@media screen and (orientation: portrait) {
    .visible-portrait {
        display: block;
    }
}

@media screen and (orientation: landscape) {
    .visible-Landscape {
        display: block;
    }
}


/****************************************************************/

@media screen and (min-width: 640px) {
    .visible-min-width-640px {
        display: block;
    }
}

@media screen and (min-device-width: 640px) {
    .visible-min-device-width-640px {
        display: block;
    }
}

@media screen and (min-device-width: 640px) and (orientation: portrait) {
    .visible-min-device-width-640px-portrait {
        display: block;
    }
}

@media screen and (min-width: 640px) and (orientation: portrait) {
    .visible-min-width-640px-portrait {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .visible-max-width-640px {
        display: block;
    }
}

@media screen and (max-device-width: 640px) {
    .visible-max-device-width-640px {
        display: block;
    }
}

@media screen and (max-device-width: 640px) and (orientation: portrait) {
    .visible-max-device-width-640px-portrait {
        display: block;
    }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
    .visible-max-width-640px-portrait {
        display: block;
    }
}


/****************************************************************/

@media screen and (min-width: 960px) {
    .visible-min-width-960px {
        display: block;
    }
}

@media screen and (min-device-width: 960px) {
    .visible-min-device-width-960px {
        display: block;
    }
}

@media screen and (min-device-width: 960px) and (orientation: portrait) {
    .visible-min-device-width-960px-portrait {
        display: block;
    }
}

@media screen and (min-width: 960px) and (orientation: portrait) {
    .visible-min-width-960px-portrait {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .visible-max-width-960px {
        display: block;
    }
}

@media screen and (max-device-width: 960px) {
    .visible-max-device-width-960px {
        display: block;
    }
}

@media screen and (max-device-width: 960px) and (orientation: portrait) {
    .visible-max-device-width-960px-portrait {
        display: block;
    }
}

@media screen and (max-width: 960px) and (orientation: portrait) {
    .visible-max-width-960px-portrait {
        display: block;
    }
}


/****************************************************************/

@media screen and (min-width: 64em) {
    .visible-min-width-64em {
        display: block;
    }
}

@media screen and (min-device-width: 64em) {
    .visible-min-device-width-64em {
        display: block;
    }
}

@media screen and (min-device-width: 64em) and (orientation: portrait) {
    .visible-min-device-width-64em-portrait {
        display: block;
    }
}

@media screen and (min-width: 64em) and (orientation: portrait) {
    .visible-min-width-64em-portrait {
        display: block;
    }
}

@media screen and (max-width: 64em) {
    .visible-max-width-64em {
        display: block;
    }
}

@media screen and (max-device-width: 64em) {
    .visible-max-device-width-64em {
        display: block;
    }
}

@media screen and (max-device-width: 64em) and (orientation: portrait) {
    .visible-max-device-width-64em-portrait {
        display: block;
    }
}

@media screen and (max-width: 64em) and (orientation: portrait) {
    .visible-max-width-64em-portrait {
        display: block;
    }
}


/****************************************************************/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 16px;
    }
}


/****************************************************************/